# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Cached Python bytecode
*.pyc
__pycache__

# Executable and intermediate .s file for receiver.c
/receiver/receiver.s
/receiver/receiver

